@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}


@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'base/media';
@import 'blocks/consultation';
@import 'blocks/forms';

@media screen and ( max-width: 1200px ){

    
}
@media screen and ( max-width: 991px ){

}


@media screen and ( max-width: 767px ) {

}  


@media screen and ( max-width: 575px ){

}  